body {
  background-color: #2d3436;
}

.box {
  display: inline-block;
  border: 1px solid #333;
  width: 15px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
}

.off {
  background-color: black;
}

.on {
  background-color: silver;
}

.box:hover {
  background: #00ccff;
}

.center {
  margin: auto;
  display: table;
  margin-top: 10px;
}

.grid {
  width: 150px;
  line-height: 0;
  margin: auto;
  box-shadow: 0px 0px 10px white;
  margin-top: 20px;
}

h1,
h2,
h3,
h4 {
  color: white;
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 10px;
}

h4 {
  margin-top: 0px;
}

.about {
  /* background-color: green; */
  margin: 1rem 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  color: white;
}

.rules {
  width: 40%;
  border: white 1px solid;
  border-radius: 10px;
}

.information {
  width: 55%;
  border: white 1px solid;
  border-radius: 10px;
  padding: 0 10px;
}

.controls {
  display: flex;
  flex-wrap: nowrap;
}
